# General
BASE_DOMAIN=...

# IPFS  
IPFS_DOMAIN=...

# Locale
NEXT_PUBLIC_LOCALE=en-US

# Supabase
SUPABASE_URL=https://...
SUPABASE_ANON_KEY=...
SUPABASE_SERVICE_ROLE_KEY=...

# Stripe
STRIPE_SECRET_KEY=...
STRIPE_WEBHOOK_SECRET=...
STRIPE_PRICE_ID=...